* {
    margin: 0;
    padding: 0;
}
/* 
font-family: 'Fredoka', sans-serif; */


body {
    color: 000;
    margin: 0;
    padding: 0;
    height: 520vh;
    font-family: 'League Spartan', sans-serif;
}


section {
    margin: 0px 0px 0px 150px;
}

/* header_bg and header info  */

.header_bg {
    height: 50px;
    background-color: #0085FF;
}

.header_info .fa-map-marker {
    margin: -37px 0px 0px 150px;
    font-size: 25px;
    color: white;
    position: absolute;
}


.header_info h1 {
    color: white;
    font-size: 15px;
    position: absolute;
    margin: -32px 0px 0px 180px;
    font-weight: 100;
}

.header_info .fa-user-circle-o {
    margin: -37px 0px 0px 1210px;
    font-size: 25px;
    font-weight: 100;
    color:white;
    position: absolute;
}




.header_info h2 {
    margin: -30px 0px 0px 1160px;   
    font-size: 15px;
    font-weight: 400;
    color:white;
    position: absolute;
}




/* main header */


.main_header img {
    width: 250px;
    height: 150px;
    margin: 50px 0px 0px 150px;
}



.main_header .logo_name {
    color: #0085FF;
    margin: -150px 0px 0px 420px;
    position: absolute;
    font-weight: 100;
    font-size: 40px;
    width: 400px;
}




.main_header .about_us {
    color: #0085FF;
    position: absolute;
    margin: -130px 0px 0px 1000px;
    font-weight: 100;
    font-size: 20px;   
}

.main_header .fa-users {
    font-size: 20px;
    color: #0085FF;
    margin: -133px 0px 0px 970px;
    position: absolute;
}

.main_header .fa-code {
    position: absolute;
    color: #0085FF;
    font-size: 20px;
    margin: -133px 0px 0px 1100px;
}


.main_header .questions {
    position: absolute;
    color: #0085FF;
    font-size: 20px;
    font-weight: 100;
    margin: -131px 0px 0px 1128px;
}

/* nav_bar */


.nav_bar {
    margin: 100px 0px 0px 0px;
}

.nav_bar button a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.nav_bar button {
    background-color: #0085FF;
    border: none;
    height: 30px;
    width: 120px;
    border-radius: 30px;
    transition: all .4s ease;
}



.nav_bar button:hover {
    background-color: #014b91 ;
}



.bg_img img {
    width: 1100px;
    height: 480px;
}



.bg_img .div_bg {
    width: 1100px;
    height: 480px;
    background-color: black;
    opacity: .5;
    position: absolute;
}

.section1_info h1 {
    color: white;
    font-size: 50px;
    position: absolute;
    margin: -400px 0px 0px 20px;
    width: 800px;
    line-height: 15mm;    
}


.section1_info button a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.section1_info button {
    width: 150px;
    height: 30px;
    background-color: #053664;
    border: none;
    position: absolute;
    border-radius: 30px;
    margin: -270px 0px 0px 20px;
    transition: all .4s ease;
}

.section1_info button:hover {
    background-color: #0085FF ;
}


/* second section */


.second_section {
    margin: 150px 0px 0px 150px;
}


.section_info h1 {
    color: #0085FF;
    font-size: 40px;
    margin: 30px 0px 0px 350px;
    position: absolute;
    font-weight: 100;
}


.first_block_info .first_img {
    width: 300px;
    height: 200px;
    margin:  150px 0px 0px 35px;
    border-radius: 70px;
}


.first_block_info .first_step {
    font-size: 30px;
    margin: 10px 0px 0px 105px;
    position: absolute;
    color: #0085FF;
}




.first_block_info .first_step_info {
    position: absolute;
    margin: 50px 0px 0px 35px;
    color: black;
    font-size: 20px;
    text-align: center;
    width: 300px;
    font-family: 'Fredoka', sans-serif;
}

.second_block_info .secondimg {
    width: 300px;
    height: 200px;
    margin:  -200px 0px 0px 800px;
    position: absolute;
    border-radius: 70px;
}

.second_block_info .second_step {
    color: #0085FF;
    font-size: 30px;
    margin: 10px 0px 0px 865px;
    position: absolute;
    color: #0085FF;
}


.second_block_info .second_step_info {
    
    position: absolute;
    margin: 50px 0px 0px 802px;
    color: black;
    font-size: 20px;
    text-align: center;
    width: 300px;
    font-family: 'Fredoka', sans-serif;
}